<div class="footer-main">
    <div class="footer-heading">
        <h1>Medico</h1>
        <p>We care for you always</p>
        <p>©Medico 2023</p>
        <p>All rights reserved</p>
    </div>

    <div class="footer-address">
        <p>London</p>
        <br>
        <address>
            <a>medicohealth.london@medio.org</a>
            <p>+44 20 7998 7517<br>Unit 207, 10 Downing st<br>70 Wapping wall, London E1W 3SS</p>
        </address>

        <a>See on Map</a><p class="arrow"> 🡥</p>
    </div>

    <div class="footer-address" >
        <p>India</p>
        <br>
        <address>
            <a>medicohealth.india@medio.org</a>
            <p>+91 63 0432 0228<br>2nd floor, Amar Apex<br>Baner Road, Pune 560 322</p>
        </address>

        <a>See on Map</a><p class="arrow"> 🡥</p>
    </div>

    <div class="footer-tail">
        <p class="rate">Rate your overall experience on the organisation</p>
        <p class="newsletter">Signup for the newsletter</p><p class="arrow"> 🡢</p>
        <p class="follow">Follow Us</p>
        <div class="logos">
            <img src="../../assets/instagram.png" width="28px" height="28px"/>
            <img src="../../assets/linkedin.png" width="28px" height="28px" />
            <img src="../../assets/google-plus.png" width="28px" height="28px" />
            <img src="../../assets/facebook.png" width="28px" height="28px" />
        </div>
    </div>
</div>