.example-full-width {
    width: 40%;
    display: inline;
}

.card-content {
    width: 90%;
    justify-content: center;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
}
.example-form {
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button-style {
    /* width: 2%; */
    /* color: #fefcf7; */
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    background-color: #fdc886;
}

.heading {
    position: sticky;
    padding-left: 28px;
    top: 0px;
    opacity: 1;
    padding-top: 20px;
    background-color: #fff; /* Set a suitable background color */
    font-weight: 500;
    margin: 0px;
    /* padding-top: 15px; */
    padding-bottom: 12px;
    font-size: 20px;
    z-index: 1;
  }

.div-btn {
    /* height: 20px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.location {
    height: 25px;
} 

.info {
    justify-content: center;
    align-items: center;
    padding-left: 80px;
    font-size: 20px;
    padding-bottom: 10px;
}

.row-1 {
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.row-2 {
    padding-bottom: 15px;
}

.matPrefix {
    padding-left: 10px;
}