<div class="menu" mat-menu>
    <button mat-button >
        <p class="text">Status</p>
    </button>
    <mat-divider></mat-divider>
    <button mat-button >
        <p class="text">Settings</p>
    </button>
    <mat-divider></mat-divider>
    <button mat-button>
        <p class="text">Privacy policy</p>
    </button>
    <mat-divider></mat-divider>
    <button mat-button>
        <p class="text">Help & Support</p>         
    </button>
    <mat-divider></mat-divider>
    <button mat-button (click)="logout()">
        <p class="text">Logout</p>
    </button>
</div>